<!DOCTYPE html>
<html>
  <head>
    <script src="https://code.jquery.com/jquery-3.4.1.js"></script>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %>, click the button for a random kitty!
    <button id="cat_button">Click for cats</button>
    <img id="cat_image"/>
    <script src="javascripts/script.js"></script>
  </body>
</html>
