<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %>, click the button to make a call to a cat.</p>
    <form action="/" method="post">
      <button id="cat_button" type="submit">Click me</button>
    </form>
  </body>
</html>
